<div class="nine columns centered">
    <div class="fos_user_user_show">
        <h2>Perfil de {{ user.username }}</h2>
        <p>{% trans %}profile.show.nick{% endtrans %}: {{ user.username }}</p>
        <p>{% trans %}profile.show.email{% endtrans %}: {{ user.email }}</p>
        <p>{% trans %}profile.show.name{% endtrans %}: {{ user.name }}</p>
        <p>{% trans %}profile.show.surname{% endtrans %}: {{ user.surname }}</p>
    </div>
    <a class="button small" href="{{ path('fos_user_profile_edit') }}">{% trans %}profile.edit.title{% endtrans %}</a>
</div>
