<div class="contain-to-grid">
    <nav class="top-bar">
        <ul>
            <!-- Title Area -->
            <li class="name">
                <h1>
                    <a href="{{ path('competition_frontend_homepage') }}">
                        CompetitionMaster
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
        </ul>


        <section>
            <!-- Left Nav Section -->
            <ul class="left">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                    {% for key, message in app.session.getFlashes() %}
                        <div class="{{ key }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% else %}
                    <li class="has-button">
                        <a class="small button" data-reveal-id="loginModal" href="#">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li class="has-button">
                        <a class="small button" data-reveal-id="registerModal" href="#">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
                <li class="divider show-for-medium-and-up"></li>
                <li class="has-dropdown">
                    <a href="#">Language</a>
                    <ul class="dropdown">
                        <li><a href="{{ path('competition_frontend_homepage', {_locale: 'en'}) }}">english</a></li>
                        <li><a href="{{ path('competition_frontend_homepage', {_locale: 'es'}) }}">español</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#">{% trans %}userbar.games{% endtrans %}</a>
                    <ul class="dropdown">
                        {% for game in games %}
                            <li><a href="{{ path('competition_frontend_homepage', {_locale: user_locale, game_slug: game.slug}) }}">{{ game.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="divider"></li>
            </ul>

            <!-- Right Nav Section -->
            <ul class="right">

                <li class="search">
                    <form>
                        <input type="search">
                    </form>
                </li>
            </ul>
        </section>
    </nav>
</div>

<div id="loginModal" class="reveal-modal small">
    {% render 'FOSUserBundle:Security:login' %}
</div>


<div id="registerModal" class="reveal-modal">
    {% render 'FOSUserBundle:Registration:register' %}
</div>




